    {{>head }}
    {{>navbar }}

    <div class="container">
        <div class="row about">
            <div class="col-8">
                <h1>Aprendiendo Node.js</h1>
                <h2>Webserver, Express, HBS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, inventore doloremque animi natus incidunt voluptates aliquid minima eligendi dicta suscipit eos nulla enim voluptatibus! Numquam iusto porro reprehenderit eveniet consequatur?</p>
            </div>
            <div class="col-4">
                <img src="assets/img/node.png" class="img-thumbnail">
            </div>
        </div>
    </div>

    {{>footer}}